
.loginPage{


	.loginPod{
		//background-color: #062646;

		background: #4c4d47; /* Old browsers */
		background: -moz-linear-gradient(top,  #4c4d47 1%, #5a5a58 28%, #5a5a58 87%, #4c4d47 98%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4c4d47), color-stop(28%,#5a5a58), color-stop(87%,#5a5a58), color-stop(98%,#4c4d47)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #4c4d47 1%,#5a5a58 28%,#5a5a58 87%,#4c4d47 98%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #4c4d47 1%,#5a5a58 28%,#5a5a58 87%,#4c4d47 98%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #4c4d47 1%,#5a5a58 28%,#5a5a58 87%,#4c4d47 98%); /* IE10+ */
		background: linear-gradient(to bottom,  #4c4d47 1%,#5a5a58 28%,#5a5a58 87%,#4c4d47 98%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4d47', endColorstr='#4c4d47',GradientType=0 ); /* IE6-9 */


		color: #FFFFFF;
		border-radius: 5px;
		-moz-box-shadow: 0px 3px 10px #0d0d0f;
		-webkit-box-shadow: 0px 3px 10px #0d0d0f;
		box-shadow: 0px 3px 10px #0d0d0f;
		.headerDiv{
			padding: 10px 30px;
		}
		.bodyDiv{
			padding: 20px 80px;
			background-color: #EEE;
			color: #000000;
			border-right: 1px solid #666;
			border-left: 1px solid #666;

			form{
				.clearfix();
				margin: 0px;
				input{
					font-size: 20px;
					color: #52534e;
					line-height: 23px;
					letter-spacing:1px;
					font-weight: 300;
					height:29px;
				}
				button{
					height: 35px;
					width: 120px;
				}
			}
		}
		.footerDiv{
			.clearfix();
			padding: 22px 80px;
			p{
				margin-bottom: 0;
			}
		}
	}
}

.radialBackground{
	// Radial Background
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 17%, #b5b5b5 98%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(17%,#ffffff), color-stop(98%,#b5b5b5)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 17%,#b5b5b5 98%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 17%,#b5b5b5 98%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 17%,#b5b5b5 98%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 17%,#b5b5b5 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b5b5b5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}