.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
html,
body {
  min-width: 800px;
  min-height: 600px;
  width: 100%;
  height: 100%;
  font-family: Verdana;
  font-size: 0.9em;
  font-weight: 100;
}
a.white {
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
a.white:hover {
  color: #aaa;
}
.loginPage .loginPod {
  background: #4c4d47;
  /* Old browsers */

  background: -moz-linear-gradient(top, #4c4d47 1%, #5a5a58 28%, #5a5a58 87%, #4c4d47 98%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #4c4d47), color-stop(28%, #5a5a58), color-stop(87%, #5a5a58), color-stop(98%, #4c4d47));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #4c4d47 1%, #5a5a58 28%, #5a5a58 87%, #4c4d47 98%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #4c4d47 1%, #5a5a58 28%, #5a5a58 87%, #4c4d47 98%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #4c4d47 1%, #5a5a58 28%, #5a5a58 87%, #4c4d47 98%);
  /* IE10+ */

  background: linear-gradient(to bottom, #4c4d47 1%, #5a5a58 28%, #5a5a58 87%, #4c4d47 98%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4d47', endColorstr='#4c4d47', GradientType=0);
  /* IE6-9 */

  color: #FFFFFF;
  border-radius: 5px;
  -moz-box-shadow: 0px 3px 10px #0d0d0f;
  -webkit-box-shadow: 0px 3px 10px #0d0d0f;
  box-shadow: 0px 3px 10px #0d0d0f;
}
.loginPage .loginPod .headerDiv {
  padding: 10px 30px;
}
.loginPage .loginPod .bodyDiv {
  padding: 20px 80px;
  background-color: #EEE;
  color: #000000;
  border-right: 1px solid #666;
  border-left: 1px solid #666;
}
.loginPage .loginPod .bodyDiv form {
  *zoom: 1;
  margin: 0px;
}
.loginPage .loginPod .bodyDiv form:before,
.loginPage .loginPod .bodyDiv form:after {
  display: table;
  content: "";
  line-height: 0;
}
.loginPage .loginPod .bodyDiv form:after {
  clear: both;
}
.loginPage .loginPod .bodyDiv form input {
  font-size: 20px;
  color: #52534e;
  line-height: 23px;
  letter-spacing: 1px;
  font-weight: 300;
  height: 29px;
}
.loginPage .loginPod .bodyDiv form button {
  height: 35px;
  width: 120px;
}
.loginPage .loginPod .footerDiv {
  *zoom: 1;
  padding: 22px 80px;
}
.loginPage .loginPod .footerDiv:before,
.loginPage .loginPod .footerDiv:after {
  display: table;
  content: "";
  line-height: 0;
}
.loginPage .loginPod .footerDiv:after {
  clear: both;
}
.loginPage .loginPod .footerDiv p {
  margin-bottom: 0;
}
.radialBackground {
  background: #ffffff;
  /* Old browsers */

  background: -moz-radial-gradient(center, ellipse cover, #ffffff 17%, #b5b5b5 98%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(17%, #ffffff), color-stop(98%, #b5b5b5));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 17%, #b5b5b5 98%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #ffffff 17%, #b5b5b5 98%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #ffffff 17%, #b5b5b5 98%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, #ffffff 17%, #b5b5b5 98%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#b5b5b5', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}
.moduleListings .navbar {
  -moz-box-shadow: 0px 3px 2px #000;
  -webkit-box-shadow: 0px 3px 2px #000;
  box-shadow: 0px 3px 2px #000;
}
.moduleListings .fullScreenContainer {
  min-height: 800px;
  height: 100%;
  background-color: #CCC;
}
.moduleListings .mainScreen {
  background-color: #CCC;
  min-height: 800px;
  height: 100%;
}
.moduleListings .mainScreen .solutionsCol {
  min-height: 800px;
  padding: 10px;
  padding-top: 40px;
}
.moduleListings .mainScreen .solutionsCol .titleText {
  padding: 7px;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsHeader {
  color: #CCCCCC;
  background-color: #484848;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 2px solid #575757;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsHeader .headerDetails {
  margin-top: 10px;
  display: block;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsHeader .headerDetails .statusContainer {
  vertical-align: bottom;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsRow {
  background-color: #EEE;
  border-bottom: 1px solid #484848;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsRow.greyOut {
  background-color: #AAA;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsRow.greyOut:hover {
  background-color: #BBB;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsRow:hover {
  background-color: #DDD;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsRow .mainDetails .statusContainer {
  display: inline-block;
  text-align: center;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsRow .mainDetails .statusContainer .status {
  padding: 1px 8px;
  margin: 10px auto;
  width: 62px;
  color: #EEEEEE;
  text-align: center;
  border-radius: 5px;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsRow .mainDetails .statusContainer .status.red {
  background-color: #c74c3f;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsRow .mainDetails .statusContainer .status.blue {
  background-color: #53a5cb;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsRow .mainDetails .statusContainer .status.green {
  background-color: #81b932;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsRow .mainDetails .statusContainer .status.yellow {
  background-color: #d7c949;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsRow .mainDetails .statusContainer .status.grey {
  background-color: #a4a4a4;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsRow .mainDetails .solutionContainer {
  display: inline-block;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsRow .mainDetails .solutionContainer .solution {
  padding: 11px;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsRow .mainDetails .deviceContainer {
  display: inline-block;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsRow .mainDetails .deviceContainer .device {
  padding: 11px;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsFooter {
  border-top: 1px solid #575757;
  color: #CCCCCC;
  background-color: #484848;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.moduleListings .mainScreen .solutionsCol .solutionsTable .solutionsFooter .footerDetails {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
  display: block;
}
.moduleListings .mainScreen .devicesCol {
  background-color: #ECECEC;
  min-height: 800px;
  padding: 10px;
  padding-top: 40px;
}
.moduleListings .mainScreen .devicesCol .deviceDetails {
  margin: 10px;
  border: 3px solid #CCC;
  padding: 10px;
  background-color: #FFF;
}
.moduleListings .mainScreen .devicesCol .deviceDetails.red {
  border-color: #c74c3f;
}
.moduleListings .mainScreen .devicesCol .deviceDetails.blue {
  border-color: #53a5cb;
}
.moduleListings .mainScreen .devicesCol .deviceDetails.green {
  border-color: #8dc73f;
}
.moduleListings .mainScreen .devicesCol .deviceDetails.yellow {
  border-color: #d7c949;
}
.moduleListings .mainScreen .devicesCol .deviceDetails.grey {
  border-color: #a4a4a4;
}
.popup_msg {
  position: absolute;
  z-index: 10;
  text-align: center;
  color: #FF0000;
  font: 14px Verdana, Arial, Helvetica, sans-serif;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #FFF;
  display: none;
}
.popup_msg .divData {
  padding: 10px;
  position: relative;
}
.popup_msg .divData .blackTriangle {
  position: absolute;
  top: 9px;
  left: -13px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 13px 13px 13px 0px;
  border-color: transparent #333 transparent transparent;
}
.popup_msg .divData .triangle {
  position: absolute;
  top: 10px;
  left: -12px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 12px 12px 12px 0px;
  border-color: transparent #FFF transparent transparent;
}
.customizableWidget .navbar {
  -moz-box-shadow: 0px 3px 2px #000;
  -webkit-box-shadow: 0px 3px 2px #000;
  box-shadow: 0px 3px 2px #000;
}
.customizableWidget .fullScreenContainer {
  min-height: 800px;
  background-color: #CCC;
}
.customizableWidget .mainScreen {
  background-color: #CCC;
  min-height: 800px;
}
.customizableWidget .mainScreen .optionsCol {
  min-height: 800px;
  padding: 10px;
  padding-top: 40px;
}
.customizableWidget .mainScreen .optionsCol .titleText {
  padding: 7px;
}
.customizableWidget .mainScreen .premadeCol {
  background-color: #ECECEC;
  min-height: 800px;
  padding-top: 40px;
}
.customizableWidget .mainScreen .premadeCol .titleText {
  padding: 17px;
}
.customizableWidget .mainScreen .premadeCol .premadeRow {
  padding: 17px;
  margin-bottom: 10px;
  background-color: #FEFEFE;
  cursor: pointer;
}
.customizableWidget .mainScreen .premadeCol .premadeRow:hover {
  background-color: #DDD;
}
